language: python
sudo: required
group: deprecated-2017Q4
env:
  - PYTHON_VERSION=3.6
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda3-3.7.3-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda3/bin:$PATH
  - conda update --yes conda
install:
  # installing Qiita in it's own environment python3.6
  - travis_retry conda create -q --yes -n qiita python=3.6 pip libgfortran numpy nginx
  - source activate qiita
  - pip install sphinx sphinx-bootstrap-theme coveralls
  - pip install https://github.com/biocore/qiita/archive/dev.zip --no-binary redbiom
  # as we don't need redbiom we are going to use the default redis port
  - sed 's/PORT = 7777/PORT = 6379/g' $HOME/miniconda3/envs/qiita/lib/python3.6/site-packages/qiita_core/support_files/config_test.cfg > config_test.cfg
  - export QIITA_CONFIG_FP=${PWD}/config_test.cfg
  # starting nginx
  - mkdir /home/travis/miniconda3/envs/qiita/var/run/nginx/
  - wget https://github.com/biocore/qiita/archive/dev.zip -O qiita-dev.zip
  - unzip qiita-dev.zip
  - nginx -c ${PWD}/qiita-dev/qiita_pet/nginx_example.conf
  - qiita-env make --no-load-ontologies
  - source deactivate
  # installing this plugin
  - wget -q https://data.qiime2.org/distro/core/qiime2-2019.1-py36-linux-conda.yml
  - travis_retry conda env create -q -n qtp-diversity --file qiime2-2019.1-py36-linux-conda.yml
  - rm qiime2-2019.1-py36-linux-conda.yml
  - source activate qtp-diversity
  - pip install https://github.com/qiita-spots/qiita_client/archive/master.zip
  - pip install coveralls flake8
  - travis_retry pip install .
  - configure_diversity_types --env-script "source activate qtp-diversity" --server-cert $QIITA_SERVER_CERT
before_script:
  - source activate qiita
  - qiita plugins update
  - qiita pet webserver --no-build-docs start &
script:
  - source activate qtp-diversity
  - sleep 5 # give enough time to the webserver to start
  - start_diversity_types "https://localhost:8383" register ignored
  - nosetests --with-doctest --with-coverage -v --cover-package=qtp_diversity
  - flake8 qtp_diversity setup.py scripts
addons:
  postgresql: "9.5"
services:
  - redis-server
  - postgresql
after_success:
  - coveralls
